h1 {
	color: skyblue;
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 2px groove skyblue;
}

th {
	border-bottom: 2px groove #eeeeee;
	height: 50px;
}

td {
	color: #002a79;
	border-bottom: 2px groove #eeeeee;
	height: 30px;
	text-align: center;
}

th:hover {
	background-color: rgb(255, 66, 179);
}

