<!doctype html>


<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
	<script src="{{url_for('static', filename='home.js')}}"></script>

	<h1>League of Legends</h1>
	<h1>Champion Statistics</h1>
</head>

<body>
	<div>
		<table id="table_id">	
			<thead>
				<tr>
					<th>Champion</th>	
					<th>Win Rate</th>
					<th>Games Played</th>
					<th>KDA</th>
					<th>CS</th>
					<th>Gold</th>
				</tr>
			</thead>
				<!-- Checking for table sorting buttons and organizing database entries to display correctly -->
				
			<tbody>
				<!-- Iterating over the champion stats and creating table rows for each champion (140 in total) -->
				{% for x in range(0, 140): %}
				<tr>
					<td>
						{{data['names'][x]}}
					</td>
					<td>
						{{data['win_rates'][x]}}	
					</td>
					<td>
						{{data['games_played'][x]}}	
					</td>
					<td>
						{{data['KDA'][x]}}	
					</td>
					<td>
						{{data['CS'][x]}}	
					</td>
					<td>
						{{data['gold'][x]}}	
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>

